@media (min-width: 768px){
.navbar-collapse.collapse {
    height: 70px !important;
    }}

.nav__menu {
  & > li+li {
    &:before {
      content: '/';
      color: $grayCD;
      margin: 0 5px;  
    }
  }
  & > li {
    a {
      display: inline-block;
      color: $black15;
      font-weight: 600;
      padding: 10px 20px; 
      &:hover {
        color: $blue-dark; 
      } 
    }
    .dropdown-menu {
      li a {
        width: 100%;
      }
    }
  }
}