$white-95       : rgba(255,255,255,.95);
$white-8        : rgba(255,255,255,.8);
$white-79       : rgba(255,255,255,.79);
$white-5        : rgba(255,255,255,.5);

$black          : rgb(0,0,0);
$black-1        : rgba(0,0,0,.1);
$black-5        : rgba(0,0,0,.5);

$black15        : #151515;

$blue-dark      : #163F70;

$gray3          : #333333;
$gray3-0        : rgba(51,51,51,0);
$gray3-1        : rgba(51,51,51,.1);
$gray3-43       : rgba(51,51,51,.43);
$gray6          : #666666;
$gray9          : rgba(153, 153, 153, 1.0);
$gray9-3        : rgba(153, 153, 153, .3);
$grayC          : rgba(204, 204, 204, 1.0); //#cccccc
$grayC-3        : rgba(204, 204, 204, .3);
$grayCD         : #cdcdcd;
$grayEC         : #ececec;
$grayE4         : #e4e4e4;
$grayEF         : #eFeFeF;
$grayE2E0E0     : #e2e0e0;
$grayDF         : #dfdfdf;
$gray9B         : #9b9b9b;

$green          : #22D8C1;
$greenH         : #2DE3CC;

$grayH          : #4F4F4F;

$red            : #D0021B;

$whiteFA        : #fafafa;
$whiteFD        : #fdfdfd;
$whiteFD-5      : rgba(253,253,253,.5);
$whiteF1        : #f1f1f1;
$whiteF2        : #f2f2f2;
$whiteF4        : rgba(244, 244, 244, 1.0); //#f4f4f4
$whiteF4-85     : rgba(244, 244, 244, .85); //#f4f4f4
$whiteF6        : rgba(246, 246, 246, 1.0); //#f6f6f6
$whiteF9        : #f9f9f9;

$vk             : #587da2;
$vkHover        : #4f7091;
$fb             : #4f71a6;
$fbHover        : #476595;
$ok             : #e67e17;
$okHover        : #cf7115;
$tw             : #20bcf0;
$twHover        : #1da9d8;
$gp             : #dd4b39;
$gpHover        : #c64333;