
@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin equal($type, $value: 0) {
    position: $type;
    top: $value;
    right: $value;
    bottom: $value;
    left: $value;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}